*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

:root{
    --textColor: #E6B453;
    --listBackgrounds: #647691;
    --titleFamily: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --linkFamily: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: #90B3E9;
}

.header{
    padding:20px;
    font-family: var(--titleFamily);
    background-color: var(--listBackgrounds);
    color: var(--textColor);
}

.header h1{
    display: inline-block;
    font-size: 50px;
}

.header .links{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: var(--linkFamily);
    font-size: 20px;
}

.header .links ul li{
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
    color: var(--textColor);
}

#footer{
    visibility: hidden;
}

a{
    color: var(--textColor);
    text-decoration: none;
}

p{
    font-size: 20px;
}

h3{
    font-size: 40px;
}

main{
    display:block;
    flex-wrap: wrap;
    margin-top: 2%;
}

.about-me{
    flex:1 0 200px;
    padding: 10px;
    text-align:left;
}

.about-me .aboutTitle{
    color: var(--textColor);
    font-family: var(--titleFamily);
    float:left;
}

.about-me .aboutInfo{
    float:right;
    margin-left: 300px;
    font-family: var(--linkFamily);
    color: #666158;
    padding: 20px;

}

.projects{
   flex:1 0 200px;
   padding:10px;
   text-align: left;
}

.projects .projectsTitle{
    color: var(--textColor);
    font-family: var(--titleFamily) ;
}

.footer{
    padding:20px;
    font-family: var(--titleFamily);
    background-color: var(--listBackgrounds);
    color: var(--textColor);
}

.footer h3{
    display:inline-block
}

.footer .contactMeInfo{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: var(--linkFamily);
    font-size: 20px;
}

.footer .contactMeInfo ul li{
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
    color: var(--textColor);
}

.tooltip{
    position: relative;
    display: inline-block;
}

.tooltip .tooltipText{
    visibility:hidden;
    width: 120px;
    background-color: rgb(250, 250, 250);
    color: var(--textColor);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left:50%;
    margin-left: -60px;
}

.tooltip:hover .tooltipText{
    visibility:visible;
}






/*
#about-me .aboutInfo p{
    margin-right: 20px;
    float:right;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}


div .projects h3{
    display: inline-block;
    margin-left:25px;
}

.contact-me{
    padding:20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    background-color: var(--listBackgrounds);
    color: var(--textColor);
}

.contact-me h1{
    display:inline-block;
}

.contact-me .cLinks{
    margin-right: 20px;
    float:right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.contact-me .cLinks ul li{
    display: inline-block;
    margin-left: 25px;
    color: var(--textColor);
}

*/