*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

:root{
    --textColor: #E6B453;
}

body{
    background-color: #90B3E9;
}

.header{
    padding:20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #647691;
    color: var(--textColor);
}

.header h1{
    display: inline-block;
    font-size: 50px;
}

.header .links{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header .links ul li{
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}

a{
    color: var(--textColor);
    text-decoration: none;
}

p{
    font-size: 20px;
}

h3{
    font-size: 50px;
}

#about-me .aboutInfo p{
    margin-right: 20px;
    float:right;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}


div .projects h3{
    display: inline-block;
    margin-left:25px;
}

.contact-me ul li{
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:30px;
    display:inline-block;
    margin-left: 25px;
}

